.first{
    width: 25%;
}
.second{
    width: 75%;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #bbb;
    margin: 0px auto;
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #594F4F;
    background-color: #E0FFEB;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #493F3F;
    background-color: #9DE0AD;
}
.tg .tg-431l {
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center
}
@media  (max-width: 767px) {
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0;
    }
}

@media   (max-width: 766px) and (min-width: 470px) {
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0;
    }
}

@media screen and (max-width: 469px)   {
    .tg th {
        font-size: 12px;
        padding: 1px 1px;
    }
    .tg td {
        font-size: 11px;
        text-align: left !important;
        padding: 0 0 0 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
    .first{
        width: 62px !important;
    }
}